<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="">Practica de Web Service</a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="menuNav">
      <div class="ms-auto d-flex flex-column flex-md-row gap-2 mt-3 mt-md-0">

      </div>
    </div>

  </div>
</nav>